/* Reset default margin/padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    width: 80%;
    margin: 20px auto;
  }
  
  .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product {
    width: 30%;
    background-color: rgb(77, 195, 18);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(236, 230, 230, 0.1);
    text-align: center;
  }
  
  .product img {
    width: 80%;
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(18, 189, 183)333;
    color: white;
  }
  
  .back{
    color:white ;
  }